<!DOCTYPE html>
<html lang="{{ page.lang }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Montetrad</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Special+Elite" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="/assets/css/estilo.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="shortcut icon" href="/assets/images/mttr64.png" type="image/x-icon">
    <style type="text/css">
        .card img {
            object-fit: cover;
        }
    </style>
</head>
<body>
    {{ content }}
</body>
</html>